---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---
<MainLayout title="North Nature">
	<main class="overflow-hidden">
		<!-- Hero Section -->
		<section class="relative h-screen flex items-end overflow-hidden pb-16">
			<video autoplay loop muted playsinline class="absolute inset-0 w-full h-full object-cover">
				<source src="/src/assets/images/herovideo.mp4" type="video/mp4" />
			</video>
			
			<div class="flex items-center justify-center absolute inset-0 z-0">
				<img src="/src/assets/images/donegron.png" alt="North Nature" class="w-3/4 max-w-5xl" />
			</div>
			
			<div class="relative z-10 px-[8.333vw] w-full">
				<div class="max-w-4xl">
					<Heading htmlheading="h4" size="h4" stylingclasses="text-primary mb-8">
						Sammen gør vi en forskel: North Nature arbejder for at beskytte havet ved at fjerne spøgelsesnet og forebygge forurening. Gennem forskning, handling og samarbejde bidrager vi til et sundere havmiljø for fremtiden.
					</Heading>
					
					<div class="flex gap-4">
						<Button variant="primary">Støt Havet</Button>
						<Button variant="primary">Registrer Spøgelsesnet</Button>
					</div>
				</div>
			</div>
		</section>
	</main>
</MainLayout>