---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
import Button from "./Button.astro";
---
<header x-data="{ showmenu: false }" class="absolute top-0 left-0 w-full z-50">
    <div id="navbar" class="px-[8.333vw] flex flex-row justify-between items-center">
        <div id="logo">
            <a href="/">
                <img src="/src/assets/images/logogron.png" alt="North Nature" class="h-28" />
            </a>
        </div>
        <div class="flex items-center gap-4">
            <Button variant="primary">Støt Havet</Button>
            <button id="burgermenu" x-on:click="showmenu = ! showmenu" class="flex flex-col gap-2.5 w-12 h-14 justify-center">
                <span class="block h-0.5 w-full bg-primary"></span>
                <span class="block h-0.5 w-full bg-primary"></span>
                <span class="block h-0.5 w-full bg-primary"></span>
            </button>
        </div>
    </div>
    <nav id="mobilmenu" class="fixed inset-0 bg-secondary flex items-center justify-center" 
    x-show="showmenu" x-transition x-cloak>
        <button x-on:click="showmenu = false" class="absolute top-6 right-[8.333vw] text-primary text-4xl">&times;</button>
        <ul class="text-center space-y-6">
            <li><a href="/" class="text-primary text-3xl font-heading" x-on:click="showmenu = false">Forside</a></li>
            <li><a href="/komponentbibliotek/" class="text-primary text-3xl font-heading" x-on:click="showmenu = false">Komponentbibliotek</a></li>
        </ul>
    </nav>
</header>